PORT=3000
FRONTEND_URL=http://localhost:3000
POSTGRES_HOST=auth-database
POSTGRES_USER=flox
POSTGRES_PASSWORD=str34m1ng4sc0d3
POSTGRES_DB=flox
POSTGRES_PORT=5432
JWT_SECRET=str34m1ng4sc0d3
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"